RewriteEngine On
#RewriteBase should be set on Darwin install (@ home /_projects/darwin3/)
RewriteBase /darwin3/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
